*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
}

.custom-autocomplete .MuiAutocomplete-popupIndicator {
  display: none;
}

.units-toggler-container {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
